.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.list-group-item {
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background and transform */
}

.list-group-item-primary {
  background-color: #007bff; /* Background color when selected */
  transform: scale(0.95); /* Shrinks the item slightly when selected */
}

.fa-check {
  opacity: 0;
  transition: opacity 0.3s ease; /* Fade-in effect for the check icon */
}

.list-group-item-primary .fa-check {
  opacity: 1; /* Icon fades in when item is selected */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


}
